@font-face {
    font-family: Major;
    src: url(/fonts/MajorMonoDisplay-Regular.ttf);
}

@import url('https://fonts.cdnfonts.com/css/gardensc');

html {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Major;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    background-color: #FFEE52;
    position: relative;
    text-transform: uppercase;

}

.img__main--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1825px;
    background: url('/images/bg.png') no-repeat center center;
    background-size: cover;
    mix-blend-mode: color;
    z-index: 10;
}

ul,
li {
    list-style-type: none;
}

.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 80px;
}

.header__item {
    align-items: center;
    text-align: center;
}

.header__img--eye {
    margin-bottom: 15px;
}

.header__title {
    font-size: 32px;
    margin-top: 24px;
    margin-left: 206px;
    width: 260px;
    height: 54px;
    text-align: right;
}

.header__text--secondary {
    margin-top: 158px;
    text-align: right;
    font-family: 'GardensC', sans-serif;
    width: 416px;
    height: 48px;
}

.top__svg {
    position: absolute;
    margin-left: 80px;
    margin-right: 80px;
}


.top__inner {
    display: flex;
    flex-direction: row;
    position: relative;
}


.top__img--blur {
    margin-left: 64px;
    margin-top: 111px;
    width: 196px;
}

.top__title {
    font-size: 240px;
    background: linear-gradient(to bottom, #000, #FF0909);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    width: 920px;
    margin-left: 477px;
    margin-top: 77px;
}

.top__img--background {
    margin-left: 273px;
    width: 741px;
    height: 741px;
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
    z-index: 2;
}

.top__mainscreen-container {
    display: flex;
    align-items: center;
}

.top__img--red-eye {
    position: absolute;
    margin-left: 80px;
    margin-top: -22px;
}

.top__text--subtitles {
    font-family: 'GardensC', sans-serif;
}

.top__text--list {
    position: relative;
    text-align: end;
    margin-right: 80px;
}

.top__text--desc {
    margin-top: 50px;
}

.top__text-secondary {
    width: 429px;
    margin-left: 1011px;
    margin-top: 64px;
    background: linear-gradient(to right, #000 0%, #FF0909);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.top__svg--line {
    margin-left: 496px;
    margin-top: 100px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #FF0909;

    margin-left: 1360px;
    margin-top: -50px;
}

.center__title {
    font-size: 60px;
    margin-left: 496px;
    font-weight: 400;
    width: 420px;
    height: 60px;
}

.center__desc p {
    position: absolute;
    width: 864px;
    height: 72px;
    margin-left: 496px;
    margin-top: 10px;
}

.center__text {
    font-family: 'GardensC', sans-serif;
    font-weight: 100;
    font-style: normal;
}

.center--text {
    margin-left: 80px;
    margin-top: 50px;
    width: 324px;
    height: 128px;
}

.center__text--list {
    margin-top: 12px;
}

.image--line {
    padding-left: 80px;
    margin-top: 30px;
}

.center__images {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.center__images--list {
    display: flex;
    flex-direction: row;
}

.center__img--item {
    width: 315px;
    height: 315px;
    margin: 30px 0 30px 0;
}

.center__img--layer {
    mix-blend-mode: difference;
}

.center__secondary-desc {
    display: flex;

    margin-left: 80px;
    margin-top: 150px;
    gap: 197px;
}


.center__subtitles {
    font-size: 40px;
    margin-bottom: 10px
}

.center__subtitles--red {
    color: #FF0909;
    margin-right: 30px;
}




.center__lines {
    display: flex;
    flex-direction: row;
    gap: 197px;
    margin-left: 80px;
    margin-top: 10px;
    align-items: flex-start;
}

.center__secondary--line {
    width: auto;
    height: auto;
}

.center__secondary--line-gray {
    margin-right: 30px;
}

.container__center--secondary-desc {
    display: flex;
    flex-direction: row;
    gap: 350px;
    align-items: flex-start;
    font-family: 'GardensC', sans-serif;
}

.center__secondary-left {
    display: flex;
    flex-direction: column;
}

.center__secondary--text {
    margin-top: 90px;
    margin-left: 80px;
    width: 501px;
    height: 72px;
}

.center__secondary--text-right {
    margin-top: 166px;
}

.center__secondary--text-right p {
    margin-top: 50px;
    width: 501px;
    height: 96px;
}

.center__secondary--img-blood {
    margin-top: 5px;
    margin-left: 173px;
    width: 153px;
    height: 136px;
}

h3 {
    font-size: 60px;
    font-family: Major;
    margin-left: 80px;
    margin-top: 25px;
}

.secondary__additional--images {
    position: relative;
    margin-top: 25px;
    margin-left: 80px;
}

.center__img-x {
    position: absolute;
    mix-blend-mode: color-dodge;

    width: 310px;
    height: 310px;
    top: -202px;
    left: -55px;
}

.center__img-blood {
    position: absolute;

    width: 56px;
    height: 57px;
    top: -82px;
    left: 350px;
}

.center__img-line {
    margin-left: 931px;
    margin-top: 30px;
}

.secondary__last {
    margin-top: 150px;
}

.secondary__last--container {
    display: flex;
    flex-direction: row;
    margin-left: 496px;
}

.secondary__last--text {
    font-size: 60px;

    background: linear-gradient(to right, #000, #FF0909);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.secondary__last--img-eye {
    position: absolute;
    right: 712px;
    left: 626px;
}

.secondary__list {
    display: flex;
    flex-direction: column;
    font-family: 'GardensC', sans-serif;

    margin-left: 79px;
}

.secondary__last--img-blood {
    position: absolute;

    right: 139px;
    left: 901px;
    margin-top: -50px;
    mix-blend-mode: multiply;
    z-index: -1;
}

.secondary__title {
    font-size: 240px;
}

.bottom {
    margin-top: 130px;
}

.bottom__title {
    font-size: 60px;
    font-weight: 400;
    margin-left: 80px;

    background: linear-gradient(to top, #000, #FF0909);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.bottom__subtitle {
    font-size: 32px;
    margin-top: 70px;
    margin-left: 1312px;
    font-weight: 400;
}


.bottom__text-group {
    display: flex;
    flex-direction: row;
    font-family: 'GardensC', sans-serif;
    gap: 221px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    height: 144px;
}

.bottom__text--primary {
    width: 710px;
}

.bottom__text--secondary {
    width: 429px;
}

.bottom__wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-left: 80px;
    gap: 45px;
}

.bottom__number {
    font-size: 160px;
    font-family: 'GardensC', sans-serif;
    font-weight: 400;

    background: linear-gradient(90deg, #000 22%, #FF2E2E 79%, #8C0303 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.bottom__icon {
    margin-top: 25px;
    margin-right: 175px;
}

.bottom__figure {
    margin-top: 20px;
}

.bottom__img--line {
    margin-left: 80px;
    margin-bottom: 20px;
}

.bottom__content--secondary {
    margin-top: 150px;
}


.content__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.content__image--primary {
    margin-top: 22px;
    margin-left: 42px;
    width: 400px;
    height: 400px;
}

.content__text-group {
    position: absolute;
    font-family: 'GardensC', sans-serif;
    margin-top: 63px;
    margin-left: 496px;
    max-width: 710px;
}

.content__text--primary {
    margin-bottom: 70px;
}

.content__text--secondary {
    max-width: 435px;
    max-height: 192px;
}

.content__image--secondary {
    transform: rotate(-25deg);
    mix-blend-mode: multiply;
    width: 400px;
    height: 400px;
    align-self: flex-end;
    /* Выровнять элемент по нижнему краю родительского контейнера */

    margin-right: 140px;
    margin-top: 130px;
}

.last {
    height: 765px;
    padding-bottom: 165px;
}

.last__inner {
    margin-left: 80px;
}

.last__container--text {
    display: flex;
    flex-direction: row;
    gap: 707px;
}

.content__text {
    margin-top: 25px;
}

.content__text--primary {
    color: #FF0909;
}

.content__title {
    font-size: 240px;
    background: linear-gradient(to bottom, #000, #FF0909);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    position: absolute;

    margin-top: 146px;
    margin-left: 396px;
}

.content__img--blood {
    position: absolute;
    background: url('/images/blood-6.png') no-repeat center center;
    background-size: cover;
    mix-blend-mode: multiply;
    z-index: 10;

    margin-left: 343px;
}